.gradle/
.nb-gradle/
.settings/
build/
eclipse/
.classpath
.nb-gradle-properties
.project
*.launch
*.iml
*.ipr
*.iws
.idea/
out/
/bin/
logs/
.cache/
node_modules/
.parcel-cache/
testing/output/
testing/dist/
testing/work/
testing/gh-**